

*/node_modules/*
*/build/
webpack/new_webpack/assets/
*/*.zip
vue/day02_vue/__MACOSX
vue/second-day/vue-cli
.idea/

pythonStudy/module1/__pycache__
pythonStudy/venv
python_webserve/__pycache__
python_webserve/publish
python_webserve/venv
**/node_modules/*
typeScript/flow/dist/*
typeScript/demo/dist/*
