body {
  background-color: #ff6699;
}
body header {
  widtn: 100%;
  height: 200px;
  border: 1px solid lighter(#ff6699, 20%);
}
body header li {
  float: left;
  padding: 10px;
}
body header - "wos-"-color {
  color: #ff6699;
}
